<modal-wrapper class="d-block" [dialogType]="'primary'"
               [customHeader]="true"
               (onClose)="hideDialog()"
               [showSubmit]="false"
               *ngIf="{collection: collection$ | async, linkType: linkType$ | async, attribute: attribute$ | async} as data">

  <attribute-modal-header class="custom-header"
                          [resource]="data.collection || data.linkType"
                          [textColor]="data.collection?.color"
                          [attribute]="data.attribute">
  </attribute-modal-header>

  <div class="body">
    <div class="m-4">
      <div class="mb-2">
        <span i18n="@@ai.check.values.modal.text">The following values may be incorrect</span>
      </div>
      <div>
        <div class="mb-1 elem-container elem-container-hover"
                *ngFor="let value of strangeValues$.value"
                (click)="onItemClick(value)">
          <data-input
            [constraint]="value.attribute.constraint"
            [dataValue]="value.dataValue"
            [focus]="true"
            [readonly]="true"
            [style.width.px]="value.dataValue.format().length * 20"
            class="d-block h-100 data-input">
          </data-input>
        </div>
      </div>
      <div *ngIf="onDataReceived(aiCheckData)" class="container-loading">
        <div class="spinner"></div>
      </div>
      <div *ngIf="errorMessage$.value !== ''" class="container-loading">
        <div class="error-message">{{errorMessage$.value}}</div>
      </div>
      <div *ngIf="strangeValues$.value !== null && strangeValues$.value.length === 0">
        <span i18n="@@ai.check.values.modal.no.values">No strange values were found</span>
      </div>
    </div>
  </div>

  <span class="button-cancel" i18n="@@button.cancel">Cancel</span>

</modal-wrapper>

<ng-template #notFound>
  <div class="body p-4">
    <h4 class="text-danger text-center my-2" i18n="@@resource.attribute.deleted">Such an attribute does not exist.</h4>
  </div>
</ng-template>
