@import 'src/styles/variables';

.card {
  display: grid;
  grid-template-rows: minmax(0, 1fr) min-content min-content;

  .editor {
    display: grid;
    grid-template-rows: min-content 1fr;

    ::ng-deep {
      .ql-container.ql-snow {
        overflow: auto;
      }

      .ql-container.ql-snow,
      .ql-toolbar {
        border-top: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
        border-bottom: 1px solid $gray-200 !important;
      }

      .ql-toolbar {
        cursor: move;
      }
    }
  }
}

.errors-content {
  cursor: move;
}

.footer-content {
  background: $gray-100;
  cursor: move;
}

.error-message {
  color: red;
  font-weight: bold;
}

.spinner {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

